<div class="container mt-5">
  <div id="titles-container" class="mb-3">
    <div class="row">
      <div
        *ngFor="let workout of workouts"
        class="col mx-3 clickable text-center"
        (click)="populateTable(workout)"
      >
        {{ workout.title }}
      </div>
    </div>
  </div>
  <div id="table-container" *ngIf="selectedWorkout">
    <h2 class="text-center">{{ selectedWorkout.title }}</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Exercício</th>
          <th>Séries</th>
          <th>Repetições</th>
          <th>Carga</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exerciseDetail of selectedWorkout.exercises">
          <td>{{ exerciseDetail.name }}</td>
          <td>{{ exerciseDetail.series || "-" }}</td>
          <td>{{ exerciseDetail.repetitions || "-" }}</td>
          <td>{{ exerciseDetail.weight || "-" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
