<div class="container mt-5">
  <app-workouts [workouts]="workouts"></app-workouts>
</div>
<p class="text-center mt-5">Historico</p>
<div class="container">
  <div id="accordion">
    <div class="card" *ngFor="let workout of allWorkouts; let i = index">
      <div class="card-header" id="heading{{ i }}">
        <h5 class="mb-0">
          <button
            class="btn"
            type="button"
            (click)="isCollapsed[i] = !isCollapsed[i]"
            [attr.aria-expanded]="!isCollapsed[i]"
          >
            Encerrado em {{ workout.date | date : "dd/MM/yyyy" }}
          </button>
        </h5>
      </div>
      <div
        id="collapse{{ i }}"
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed[i]"
      >
        <div class="card-body">
          <app-workouts [workouts]="workout.workout"></app-workouts>
        </div>
      </div>
    </div>
  </div>
</div>
